// General
$separacion: 5rem;

// Fuentes


// Colores 
$negro: #000;

// Fuentes
$delgada: 300;
$media : 400;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 48rem;
$tablet: 76.7rem;
$desktop: 102.3rem;